.about {
    width: 100%;
    text-align: center;
    margin: auto;
}
.about li {
    list-style: none;
}

@media screen and (max-width: 600px) {
    .about{
      width: 80%;
      display: block;
      margin: auto;
      text-align: center;
    }

    .about li {
        list-style: none;
    }
  }